.card-container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    
}

.card-container img{
   border-radius: 10%;
   width: 200px;
   margin-left: 100px;
 
}


@media only screen and (max-width: 576px) {
    .card-container {
        width: 100%;
    }
}

