.card-container{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

.card-container img{
   border-radius: 10%;
   width: 200px;
   margin-left: 100px;
 
}


@media only screen and (min-width: 577px) and (max-width: 992px) {
    .card img{
        margin-left: 100px;
        
        
    }
}

