.blog-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;

}

@media only screen and (max-width: 576px) {
    .blog-container {
        width: 100%;
    }
}