.service-container{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    margin: 0 10px;
    position: relative;
    
}

.service-container img{
    width: 100px;
}

.btn-button{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
}